In [64]:
import pandas as pd
import numpy as np

# import data files
df1 = pd.DataFrame(pd.read_csv('data/OraMasterList.csv'))
df2 = pd.DataFrame(pd.read_csv('data/MasterList.csv'))

# df1['ACCOUNT_NUMBER'].equals(df2['account_number'])

# print(df1['ACCOUNT_NUMBER'].isin(df2['account_number']))
# df2 = df2.rename(columns={"account_number": "ACCOUNT_NUMBER"})
# res = df1.merge(df2, on=["ACCOUNT_NUMBER"], how="right")
#
# res

d2 = df1['ACCOUNT_NUMBER'].tolist()
i = 0
for d in df2['account_number']:
    d1 = int(d)
    if d1 in d2:
        i = i + 1
    else:
        print(d1)
print(i)



# convert ACCOUNT_NUMBER & CUSTOMER_NUMBER to string for both df1 & df2
# df1['ACCOUNT_NUMBER'] = df1['ACCOUNT_NUMBER'].apply(str)
# df1['CUSTOMER_NUMBER'] = df1['CUSTOMER_NUMBER'].apply(str)
#
# df2['account_number'] = df2['account_number'].map(str)
# df2['CUSTOMER_NUMBER'] = df2['CUSTOMER_NUMBER'].apply(str)

# check if column have unique values
# df1['ACCOUNT_NUMBER'].is_unique
# df2['account_number'].is_unique

# list duplicate values on a column
# pd.concat(g for _, g in df2.groupby("account_number") if len(g) > 1)


# # compare two dataset using index side by side ACCOUNT_NUMBER
# df_diff = pd.concat([df1.set_index('ACCOUNT_NUMBER'),df2.set_index('account_number')], axis='columns', keys=['ORACLE', 'SQL-SERVER'])
#
# # put similar column side by side
# df_final = df_diff.swaplevel(axis='columns')[df1.columns[1:]]
#
# df_final

# # highlight the difference
# def highlight_diff(data, color='yellow'):
#     attr = 'background-color: {}'.format(color)
#     other = data.xs('ORACLE', axis='columns', level=-1)
#     return pd.DataFrame(np.where(data.ne(other, level=0), attr, ''),
#                         index=data.index, columns=data.columns)
#
# df_final.style.apply(highlight_diff, axis=None)
9120000004810

9120000004810
9120000099552
9120000043921
9120000107512
9120001346235
9120001365833
9120000216702
9120001346227
9120000255139
87706

In [44]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame(pd.read_excel('data/cus_1.xlsx'))
df2 = pd.DataFrame(pd.read_excel('data/cus_2.xlsx'))
df3 = pd.DataFrame(pd.read_excel('data/cus_3.xlsx'))

In [49]:
df2_1 = df2[['CUSTOMER_ID', 'PRMRY']]

# df4 = pd.merge(df1, df2_1, how='left', left_on='CUSTOMER_NUMBER', right_on='CUSTOMER_ID')

df4 = df1.merge(df2_1, left_on='CUSTOMER_NUMBER', right_on='CUSTOMER_ID')

# df3=df3.groupby(['CUSTOMER_NUMBER']).size().reset_index(name='count')

# df3_1.isnull().values.any()

# df3['count'] = df3_1['count']
#
# # df3['count'].astype('int64')
#
# df3['count'].isnull().values.any()
#
# # df3.head()
#
# df3

# df5 = df3

df3[df3['CUSTOMER_NUMBER'] == '11200000031']


# for index, row in df5.iterrows():
#     df3.loc[df3['CUSTOMER_NUMBER'] == row[]]
#       print(row["c1"], row["c2"])

Empty DataFrame
Columns: [account_number, CUSTOMER_NUMBER, acct_name, cust_dob, SALES_CODE, portifolio_code, WPB_Flag, segment_description, acct_crncy_code, extract_date, acct_opn_date, last_tran_date, DAYS, branch_name, cal_branch_name, schm_type, SCHM_CODE, acct_status, re_cal_status, CIF_CREATION, manager, emp_name, PHONENO, EMAIL]
Index: []

[0 rows x 24 columns]

In [1]:
# check values that both merge and not merge between 2 dataset
import pandas as pd

df2 = pd.DataFrame(pd.read_excel('data/R1.xlsx'))
df1 = pd.DataFrame(pd.read_excel('data/L1.xlsx'))

# df1.head()

# df1 = pd.DataFrame(pd.read_excel('data/ods.xlsx'))
# df2 = pd.DataFrame(pd.read_excel('data/rsvr.xlsx'))

df_all = df1.merge(df2.drop_duplicates(), on=['CARD_NUMBER','CARD_NUMBER'],
                   how='left', indicator=True)

df_all

,CARD_NUMBER,FORACID_x,ACCT_NAME_x,ACCT_OPN_DATE_x,EMBOSS_NAME_x,ISSUE_DATE_x,VALID_TO_DATE_x,LCHG_TIME_x,CARD_STATUS_x,CARD_SUB_TYPE_x,...,ACCT_OPN_DATE_y,EMBOSS_NAME_y,ISSUE_DATE_y,VALID_TO_DATE_y,LCHG_TIME_y,CARD_STATUS_y,CARD_SUB_TYPE_y,CARD_TYPE_y,PHONE_NUM_y,_merge
0,4313313000499989,9120002368895,MOHAMED KISENGO,2021-02-05,MOHAMED KISENGO,2021-02-05,2026-02-05,2021-02-05 15:46:37,A,GOLD,...,2021-02-05,MOHAMED KISENGO,2021-02-05,2026-02-05,2021-02-05 15:46:37,A,GOLD,VISAB,NaN,both
1,4313313000558982,9120001101453,"NGOMA,AMIRY",2010-09-07,AMIRY NGOMA,2021-05-05,2026-05-05,2022-03-07 17:04:06,D,GOLD,...,2010-09-07,AMIRY NGOMA,2021-05-05,2026-05-05,2021-05-05 14:02:50,A,GOLD,VISAB,+255755045055,both
2,4313313000356064,9120002173377,ISMAIL WARIOBA,2020-07-02,ISMAIL WARIOBA,2020-07-02,2025-07-02,2020-07-02 14:35:06,A,GOLD,...,2020-07-02,ISMAIL WARIOBA,2020-07-02,2025-07-02,2020-07-02 14:35:06,A,GOLD,VISAB,NaN,both
3,4313323000627067,9120000197295,CHOTEKA ALLY,2004-02-11,ALLY CHOTEKA,2017-05-29,2022-05-29,2022-05-02 08:41:41,D,BLUE,...,2004-02-11,ALLY CHOTEKA,2017-05-29,2022-05-29,2021-11-18 13:09:54,D,BLUE,VISAB,+255784505510,both
4,4313313000420977,9120002246757,MARWA SULEMAN,2020-09-08,MARWA SULEMAN,2020-09-08,2025-09-08,2021-11-11 16:55:25,A,GOLD,...,2020-09-08,MARWA SULEMAN,2020-09-08,2025-09-08,2021-11-11 16:55:25,A,GOLD,VISAB,NaN,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46679,4313311011027419,9120001088597,BERNARD KAGOMBORA,2017-02-06,BERNARD PAUL KAGOMBORA,2017-08-31,2022-08-31,2017-09-20 14:12:48,A,GOLD,...,2017-02-06,BERNARD PAUL KAGOMBORA,2017-08-31,2022-08-31,2017-09-20 14:12:48,A,GOLD,VISAP,+255768196899,both
46680,4313313000371865,9120002198493,MAULID M MAULID,2020-07-25,MAULID M MAULID,2020-07-25,2025-07-25,2020-07-27 15:54:30,A,GOLD,...,2020-07-25,MAULID M MAULID,2020-07-25,2025-07-25,2020-07-27 15:54:30,A,GOLD,VISAB,NaN,both
46681,4463141011039496,9120002285035,ALEXANDER EVERSBERG,2020-10-20,JAMEY EVERSBERG,2020-10-30,2025-10-30,2021-10-27 12:18:30,A,PLATI,...,2020-10-20,JAMEY EVERSBERG,2020-10-30,2025-10-30,2021-10-27 12:18:30,A,PLATI,VISAP,+255765284381,both
46682,4463141011039488,9120002285035,ALEXANDER EVERSBERG,2020-10-20,ALEXANDER EVERSBERG,2020-10-30,2025-10-30,2020-11-10 12:38:39,A,PLATI,...,2020-10-20,ALEXANDER EVERSBERG,2020-10-30,2025-10-30,2020-11-10 12:38:39,A,PLATI,VISAP,+255765284381,both
46683,4313313000508425,9120002340524,GEMA MWAMAKULA,2021-01-04,GEMA MWAMAKULA,2021-01-03,2026-01-04,2021-01-03 21:40:10,A,GOLD,...,2021-01-04,GEMA MWAMAKULA,2021-01-03,2026-01-04,2021-01-03 21:40:10,A,GOLD,VISAB,NaN,both

In [1]:
status = 'card_status|I|A|last_oprn_done|A|S|'

list_data = status.split('|')

['card_status', 'I', 'A', 'last_oprn_done', 'A', 'S', '']

In [2]:
import pandas as pd

xls = pd.ExcelFile('data/bot.xlsx')
df = pd.DataFrame(pd.read_excel(xls, 'Balance with BOT'))

df.head()

,Reporting date & time,Account number,Account name,Account type,Sub-Account type,Currency,Original Amount,USD Equivalent Amount,TZS Amount,Transaction Date,Maturity Date,Allowance for probable loss,BOT provision,Related Identification
0,2023-03-13,13800,Central Bank:Free Balance,Current,Current,EUR,0.000000e+00,0.000000e+00,0.000000e+00,2023-03-13,2023-03-13,0,0,NaN
1,2023-03-13,13800,Central Bank:Free Balance,Current,Current,KES,1.634972e+07,1.231819e+05,2.882456e+08,2023-03-13,2023-03-13,0,0,NaN
2,2023-03-13,13800,Central Bank:Free Balance,Current,Current,TZS,4.970977e+10,2.124349e+07,4.970977e+10,2023-03-13,2023-03-13,0,0,NaN
3,2023-03-13,13800,Central Bank:Free Balance,Current,Current,UGX,1.974799e+08,5.317776e+04,1.244360e+08,2023-03-13,2023-03-13,0,0,NaN
4,2023-03-13,13800,Central Bank:Free Balance,Current,Current,USD,1.028300e+07,1.028300e+07,2.406222e+10,2023-03-13,2023-03-13,0,0,NaN

In [20]:
import pandas as pd

df1 = pd.DataFrame(pd.read_excel('data/ss.xlsx'))
df2 = pd.DataFrame(pd.read_excel('data/ssr.xlsx'))
df3 = pd.DataFrame(pd.read_excel('data/sws.xlsx'))

df11 = df1.name.str.split().str.get(0)
df22 = df2.name.str.split().str.get(0)
df33 = df3.name.str.split().str.get(0)

# len(df33.index)
# df33

df22.merge(df11.drop_duplicates(), on=['name','name'],
          how='left', indicator=True)

AttributeError: 'Series' object has no attribute 'merge'

In [33]:
import pandas as pd

df1 = pd.DataFrame(pd.read_excel('data/ss_r.xlsx'))
df2 = pd.DataFrame(pd.read_excel('data/ssr_r.xlsx'))
df3 = pd.DataFrame(pd.read_excel('data/sws_r.xlsx'))

df3.merge(df1.drop_duplicates(), on=['name','name'],
           how='left', indicator=True)

# df3

               name     _merge
0          Adaptiva       both
1             Adobe       both
2             Alcor       both
3               BCR       both
4                CA       both
...             ...        ...
47589        Rapid7       both
47590  Self-service  left_only
47591         Teams       both
47592       Trellix       both
47593       Trellix       both

[47594 rows x 2 columns]