In [30]:
from sqlalchemy.engine import URL
from sqlalchemy import create_engine
import pandas as pd
from datetime import datetime

username='clusterInstaller'
password='clusterInstaller'
database='RSVRRealtimeFinacleTZ'
port='1433'
TDS_Version='8.0'
# server='localhost\SQLSERVER2019'
server='10.231.33.102'
driver='FreeTDS'

In [31]:
connection_string = 'DRIVER={ODBC Driver 18 for SQL Server};SERVER='+server+';DATABASE='+database+';ENCRYPT=yes;TrustServerCertificate=Yes;UID='+username+';PWD='+ password
connection_url = URL.create("mssql+pyodbc", query={"odbc_connect": connection_string})

engine = create_engine(connection_url)

In [35]:
myQuery = "SELECT * FROM PTZFIN.vwCuratedTZACustomerListReportStgImpl"
myQuery1 = "SELECT * FROM PTZFIN.vwCuratedTZACustomerListPrimaryImpl"

df = pd.read_sql_query(myQuery, engine)
df1 = pd.read_sql_query(myQuery1, engine)

df['job_date'] = datetime.today().strftime('%Y-%m-%d')
df['job_timestamp'] = datetime.now()
df1['CUSTOMER_NUMBER'] = df1['CUSTOMER_ID']

df2 = pd.merge(df, df1, how='left', on='CUSTOMER_NUMBER')

# df3 = df2[['', '', '', '', '','', '', '', '', '','', '', '', '', '']]

len(df2.index)

df2.head()

,CUSTOMER_NUMBER,CUSTOMER_NAME,CUST_DOB,SALES_CODE,PORTIFOLIO_CODE,SEGMENT_DESCRIPTION,BUSINESS_UNIT,EXTRACT_DATE,BRANCH_NAME,CUST_STATUS,...,CUSTOMER_ID,SEG_CODE,SUBSEGMENT_DESC,CIF_CREATION_DATE,AVERAGE_CR_AMT,NO_OF_TRXNS,QUAILTY_IND,CA_IND,MORE_THAN_2_TRXNS,PRMRY
0,11200007143,SOOLI LEWIS P,1957-11-06,NOTAP,PB05,PRIVATE,AFFLUENT MARKET,24/Jan/23,ARUSHA BRANCH,Active,...,11200007143,103,PVT,201307,0.0,3.0,NO,1.0,NO,N
1,11200007144,LEONARD S NGASA,1954-01-01,NOTAP,UPB06,SILVER,MAIN MARKET,24/Jan/23,ARUSHA BRANCH,Active,...,11200007144,105,SIL,201307,0.0,0.0,NO,1.0,NO,N
2,11200007147,AISHA MOHAMED CHANGALE,1971-11-05,NOTAP,PB05,PRIVATE,AFFLUENT MARKET,24/Jan/23,ARUSHA BRANCH,Active,...,11200007147,103,PVT,201307,22431655.0,34.0,YES,1.0,YES,Y
3,11200007148,THEOPHILUS AND TABEA S KARUMUNA,1936-12-16,None,UPB06,SILVER,MAIN MARKET,24/Jan/23,ARUSHA BRANCH,Active,...,11200007148,105,SIL,201307,0.0,1.0,NO,1.0,NO,N
4,11200007152,MANSUETUS SETONGA,1954-05-28,NOTAP,PB05,PRIVATE,AFFLUENT MARKET,24/Jan/23,MOSHI BRANCH,Active,...,11200007152,103,PVT,201307,0.0,0.0,NO,1.0,NO,N

In [ ]:
# df.to_sql('CustomerAccountMasterListReport', engine, schema="CustomerAccountMasterList", if_exists='append', index=False)