In [30]:
from sqlalchemy.engine import URL
from sqlalchemy import create_engine
import pandas as pd
from datetime import datetime

username='clusterInstaller'
password='clusterInstaller'
database='RSVRRealtimeFinacleTZ'
port='1433'
TDS_Version='8.0'
# server='localhost\SQLSERVER2019'
server='10.231.33.102'
driver='FreeTDS'

In [31]:
connection_string = 'DRIVER={ODBC Driver 18 for SQL Server};SERVER='+server+';DATABASE='+database+';ENCRYPT=yes;TrustServerCertificate=Yes;UID='+username+';PWD='+ password
connection_url = URL.create("mssql+pyodbc", query={"odbc_connect": connection_string})

engine = create_engine(connection_url)

In [38]:
myQuery = "SELECT * FROM PTZFIN.vwCuratedTZACustomerListReportStgImpl"
myQuery1 = "SELECT * FROM PTZFIN.vwCuratedTZACustomerListPrimaryImpl"

df = pd.read_sql_query(myQuery, engine)
df1 = pd.read_sql_query(myQuery1, engine)

df['JOB_DATE'] = datetime.today().strftime('%Y-%m-%d')
df['JOB_TIMESTAMP'] = datetime.now()
df1['CUSTOMER_NUMBER'] = df1['CUSTOMER_ID']

df2 = pd.merge(df, df1, how='left', on='CUSTOMER_NUMBER')

df3 = df2[['CUSTOMER_NUMBER', 'CUSTOMER_NAME', 'CUST_DOB', 'SALES_CODE', 'PORTIFOLIO_CODE',
           'SEGMENT_DESCRIPTION', 'BUSINESS_UNIT', 'EXTRACT_DATE', 'BRANCH_NAME', 'CUST_STATUS',
           'CIF_CREATION', 'PRMRY', 'PREFERREDPHONE', 'PREFERREDEMAIL', 'EMPLOYER_NAME','JOB_DATE','JOB_TIMESTAMP']]


len(df3.index)

df3.head()

,CUSTOMER_NUMBER,CUSTOMER_NAME,CUST_DOB,SALES_CODE,PORTIFOLIO_CODE,SEGMENT_DESCRIPTION,BUSINESS_UNIT,EXTRACT_DATE,BRANCH_NAME,CUST_STATUS,CIF_CREATION,PRMRY,PREFERREDPHONE,PREFERREDEMAIL,EMPLOYER_NAME,JOB_DATE,JOB_TIMESTAMP
0,11200007143,SOOLI LEWIS P,1957-11-06,NOTAP,PB05,PRIVATE,AFFLUENT MARKET,24/Jan/23,ARUSHA BRANCH,Active,2013-07-19 23:56:12,N,+255(000)786288882,None,ESAMI (EASTERN & SOUTHERN),2023-01-24,2023-01-24 16:37:15.535871
1,11200007144,LEONARD S NGASA,1954-01-01,NOTAP,UPB06,SILVER,MAIN MARKET,24/Jan/23,ARUSHA BRANCH,Active,2013-07-19 23:56:29,N,+255(000)754743708,None,AICC (ARUSHA INTERNATIONAL CONFERENCE CENTRE),2023-01-24,2023-01-24 16:37:15.535871
2,11200007147,AISHA ABDULRAHAMAN,1971-11-05,NOTAP,PB05,PRIVATE,AFFLUENT MARKET,24/Jan/23,ARUSHA BRANCH,Active,2013-07-19 23:56:11,Y,+255(000)713703065,None,SELF EMPLOYED,2023-01-24,2023-01-24 16:37:15.535871
3,11200007148,THEOPHILUS AND TABEA S KARUMUNA,1936-12-16,None,UPB06,SILVER,MAIN MARKET,24/Jan/23,ARUSHA BRANCH,Active,2013-07-19 23:56:14,N,+255(000)713291523,None,SELF EMPLOYED,2023-01-24,2023-01-24 16:37:15.535871
4,11200007152,MANSUETUS SETONGA,1954-05-28,NOTAP,PB05,PRIVATE,AFFLUENT MARKET,24/Jan/23,MOSHI BRANCH,Active,2013-07-19 23:56:07,N,+255(000)766147371,None,SELF EMPLOYED,2023-01-24,2023-01-24 16:37:15.535871

In [ ]:
# df.to_sql('CustomerAccountMasterListReport', engine, schema="CustomerAccountMasterList", if_exists='append', index=False)