In [1]:
import pyodbc
import pandas as pd
username='clusterInstaller'
password='clusterInstaller'
database='RSVRRealtimeFinacleTZ'
port='1433'
TDS_Version='8.0'
# server='localhost\SQLSERVER2019'
server='10.231.33.102'
driver='FreeTDS'

In [2]:
conn = pyodbc.connect('DRIVER={ODBC Driver 18 for SQL Server};SERVER='+server+';DATABASE='+database+';ENCRYPT=yes;TrustServerCertificate=Yes;UID='+username+';PWD='+ password)
cursor = conn.cursor()

In [5]:
qry = "SELECT * FROM PTZFIN.vwCuratedTZACustomerAccountMasterListImpl"
# rs = cursor.execute(qry)

df = pd.read_sql(qry, conn)

df.head(100)


# result = pd.read_sql(qry, conn)
#
# result.head()

C:\Users\A248080\AppData\Local\Temp\1\ipykernel_19564\4240880371.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(qry, conn)

,account_number,CUSTOMER_NUMBER,acct_name,cust_dob,SALES_CODE,portifolio_code,WPB_Flag,segment_description,acct_crncy_code,extract_date,...,cal_branch_name,schm_type,SCHM_CODE,acct_status,re_cal_status,CIF_CREATION,manager,emp_name,PHONENO,EMAIL
0,9120001631886,11200103083,MISHOSHO EDDA,1988-09-15,None,UPB14,N,SILVER,TZS,16/Jan/23,...,CENTRE BRANCH,SBA,SB001,A,A,2013-07-19 23:57:54,A173291,MBONI MAGAWA,+255(000)717019346,None
1,9120001616747,11200095310,NANDNI AMIT & KAJAL ITF,1920-01-01,NOTAP,UPB13,N,SILVER,TZS,16/Jan/23,...,PENINSULA BRANCH,SBA,SB001,A,D,2013-07-19 23:58:09,A173291,MBONI MAGAWA,+255(000)754600075,None
2,9120001004199,11200056078,"MAKUNDI,PROSPER HERMAN",1987-01-07,None,UPB13,N,SILVER,USD,16/Jan/23,...,PENINSULA BRANCH,SBA,SB001,A,A,2013-07-19 23:55:05,A173291,MBONI MAGAWA,+255(000)713211119,None
3,9120001405967,11200103146,MAYENGA MHINDI,1985-05-22,None,UPB02,Y,SILVER,USD,16/Jan/23,...,MAIN BRANCH,SBA,SB001,A,A,2013-07-19 23:57:57,A194651,MWAFRIKA MWANGOSI,+255(000)714826611,None
4,9120000698871,11200012027,SION LEKASHU LAISER,1966-02-01,NOTAP,UPB05,Y,SILVER,TZS,16/Jan/23,...,ARUSHA BRANCH,SBA,SB001,A,D,2013-07-19 23:56:26,A201280,FRANCIS AGOSTINE,+255(000)784939432,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,9120000808375,11200007892,CASPERSEN,1960-01-01,NOTAP,UPB05,N,SILVER,USD,16/Jan/23,...,ARUSHA BRANCH,SBA,SB001,A,A,2013-07-19 23:57:16,A173435,ARNOLD MOSHI,+255(000)782402887,None
96,9120000229367,11200126013,ISAAC STEPHEN,1982-10-19,None,UPB06,Y,SILVER,TZS,16/Jan/23,...,ARUSHA BRANCH,SBA,SB001,I,D,2013-07-19 23:57:01,A182554,BEATRICE SHOO,+255(000)787952945,None
97,9120000070295,11200050779,AIKUNDASIA MASAMU,1949-02-10,None,UPB11,N,SILVER,TZS,16/Jan/23,...,MOSHI BRANCH,SBA,SB001,A,I,2013-07-19 23:57:04,A173331,SERGI SHIRIMA,+255(000)755786467,None
98,9120000394309,11200133343,DEOGRATIUS THOMAS KIWALE,1986-02-11,NOTAP,UPB06,N,SILVER,USD,16/Jan/23,...,ARUSHA BRANCH,SBA,SB001,A,A,2014-08-19 08:37:54,A195547,Peter Mushi,+255(000)767452289,None
99,9120000488214,11200135051,ROSE OISSO,1990-08-26,None,UPB11,N,SILVER,USD,16/Jan/23,...,MOSHI BRANCH,SBA,SB001,A,A,2014-12-23 13:34:55,A182554,BEATRICE SHOO,+255(000)752787988,None